---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recipes</h1>

  {% assign allcategories = site.emptyArray %}
  {% for page in site.pages %}
    {% for category in page.categories %}
      {% unless allcategories contains category %}
        {% assign allcategories = allcategories | push:category %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  {% assign allcategories = allcategories | sort %}

  <section class="post-content">
    {% for category in allcategories %}
      <h2>{{ category }}</h2>
      <ul>
        {% for page in site.pages %}
          {% if page.categories contains category %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  </section>

</div>
